.container {
  padding: 0;
  overflow: hidden;
}


.imageElement--home__user--logo {
  margin: 0 15px ;
}
/* .imageElement--home__user--login {
  margin-right: 15px;
} */
.imageElement--home__user--logo,
.imageElement--home__user--login:hover {
  cursor: pointer;
}
.autoCompleteOuterContainer--searchBar {
  border: none;
}
.autoCompleteInnerContainer--searchBar {
  border: none;
}

/* tablet */
@media(max-width: 1024px) {
  .imageElement--banner__image--zero {
    height: 100%;
    object-fit: cover;
    object-position: right;
  }
  .imageElement--banner__image--oceans {
    height: 100%;
    object-fit: cover;
  }
  .imageElement--banner__image--three {
    height: 100%;
    object-fit: cover;
    object-position: right;
  }
  .imageElement--banner__image--one,
  .imageElement--banner__image--two {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
} 
