/* .flexRowContent--home__section--one {
  position: relative;
}  */
.flexColChild--banners__container{
  position: relative;
  /* border: 1px solid black; */
}
.flexCol--banner__cta {
  display: flex;
  flex-direction: column;
}
/* .flexColChild--banner__cta{
} */
.flexColChild--shelf__cart {
  width: 70%;
  margin-left: 10rem;
}
.flexRowContent--cards__container {
/*   padding: 10rem 0 10rem 0; */
  width: 80%;
  display: flex;
  margin: 0 auto
}
.flexCol--container__card {
  padding: 10px;
}