/* .container--home--banner__title,
.container--home--banner__info {
  position: relative;
} */

.paragraph--home--banner__title, .paragraph--home--banner__info {
  line-height: 35px ;
  margin: 0;
}

.paragraph--cards__title {
  font-size: 40px;
  font-weight: 700;
  margin: 40px 0 0px 0;
}
/* Cards gender */
.paragraph--card__gender--text {
  font-weight: 700;
  font-size: 1.3rem;
  margin: 15px 0px;
}

.paragraph--tendencies__title{
  font-size: 1rem;
  font-weight: 700;
  margin: 16px 0 0 0;
}
.paragraph--tendencies__paragraph {
  margin: 10px 0 0 0;
  font-size: 0.8rem;
}
.container--cards__title{
  width: 80%;
  margin: 0 auto;
}
.paragraph--name {
  margin: 2px 0 2px 0;
  font-size: 0.9rem;
}
.paragraph--gender {
  font-size: 0.9rem;
  margin: 0;
}
.paragraph--shipping {
  font-size: 0.9rem;
  margin: 2px 0 2px 0;
}



.paragraph--header__support--text {
  white-space: nowrap;
  font-size: 13px;
  margin: 0;
  padding: 0 10px;
  font-weight: lighter;
  color: gray;
}


/* POPULAR LINK */

.wrapper--popularLink {
  width: 90%;
  border-bottom: 1px solid black;
  padding-top: 45px;
}
.wrapper--popularLink:hover {
  border-bottom: 5px solid black;
  padding-top: 40px;
  cursor: pointer;
}
.paragraph--popularLink {
  font-size: 2.7rem;
  font-weight: bolder;
  line-height: 40px;
}
.paragraph--popularLink:first-child {
  margin: 10px 0;
}
.container--popularLink {
  align-items: flex-end;
}

/* TEAMS */

.paragraph--teams__title {
  margin: 0 0 8px 0;
}

/* History */
.wrapper--home__history--title {
  width: 75%;
}
.paragraph--home__history--title {
  font-size: 2rem;
  font-weight: 900;
  line-height: 30px;
  margin-bottom: 0;
}

/* Adiclub */

/* vtex-flex-layout-0-x- */.flexRowContent--home__section--adiClub:last-child {
  display: flex;
  height: max-content;
  justify-content: center;
  align-items: center;
}