

/* sección 1 de banners del home */
.flexCol--banners__container, .flexCol--banner__container {
  position: relative;
}
.flexColChild--banners__container, .flexColChild--banner__container {
  position: relative;
  display: flex;
  justify-content: center;
}
.flexColChild--banners__container:first-child {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  z-index: 10;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.flexColChild--banner__container:first-child {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  width: 40%;
  margin: 0 auto;
}

/* sección popular ahora */
.flexCol--banner__cta, .flexCol--banner__cta--center {
  height: max-content;
}
.flexColChild--banner__cta {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

/* Sección banner oceans */
.flexColChild--banner__cta--center {
  margin: 0 auto;
}

/* sección Cards (gender/tendencies/running) */
.flexRowContent--cards__container {
  width: 80%;
  display: flex;
  margin: 0 auto
}
.flexCol--container__card {
  padding: 10px;
}
.flexRow--cards__container{
  margin: 0 0 50px 0;
}
.flexColChild--container__card:hover {
  cursor: pointer;
}

/* sección links popular */
.flexRowContent--home__links--popular {
  width: 80%;
  flex-wrap: wrap;
  margin-bottom: 50px;
  margin: 0 auto;
  justify-content: center;
}
.flexRowContent--home__links--popular :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 33% !important;
}

/* Sección teams */
.flexCol--home__section--soccerTeams {
  background-color: #EBEDEE;
  padding: 26px 0px;
}
.flexRowContent--home__soccerTeams--section {
  width: 50%;
  margin: 0 auto;
}

/* sección tab carrousel */

/* sección historia */

.flexRow--home__section--history {
  padding: 50px 0;
  background-color: #F5F5E5; 
}
.flexRowContent--home__section--history {
  width: 80%;
  margin: 0 auto;
}
.flexCol--history__section--content {
  width: 90% !important;
  display: flex;
  justify-content: start;
}
.flexColChild--history__section--content {
  height: max-content !important;
}

/* Adiclub */

.flexRow--home__section--adiClub {
  height: 100%;
  background-color: #EDE734;
  display: flex;
  align-items: center;
}

.flexRowContent--home__section--adiClub {
  width: 70%;
  margin: 0 auto;
  justify-content: center;
}

/* Carrousel card */

.flexCol--shelf__cart {
  width: max-content;
}

/* Mejores productos */

.flexCol--home__slider--bestProducts {
  width: 80%;
  margin: 0 auto 30px auto;
}
.flexColChild--home__slider--bestProducts {
  height: max-content;
}