.paragraph--footer-title {
  font-weight: 700;
}
.paragraph--footer-li, .paragraph--footer-li-breaker, .paragraph--footer-li-two, .paragraph--footer-copyright {
  margin: 0;
  font-size: 13px;
}
.paragraph--footer-li-breaker {
  margin-bottom: 5px;
}
/* .wrapper--footer-li-two:last-child {
  border: none;
} */
.wrapper--footer-li-two {
  border-right: 1px solid rgba(245, 245, 245, 0.864);
}
.paragraph--footer-li-two, .paragraph--footer-copyright {
  color: rgba(245, 245, 245, 0.864);
  padding-right: 5px;
}
.paragraph--footer-copyright {
  margin-bottom: 20px;
}